
.come-from-modal.right .modal-dialog {
  position: fixed;
  width: 400px;
  height: 100%;
  right: 0;
  transition-delay: 0.5s;
  border-radius: 5px;
  top: 0;
  margin-top: 0;
}


.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
}


.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}