.container{
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .welcome_banner {
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-top: 0 2rem;
    background-color: #c4c3c8;
  }
  
  .shop_now{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 200px;
    margin-left: 20px;
  }
  
  
    

  .product-details {
    display: flex;
    flex-direction: column;
  }
  
  .product-name {
    font-size: 18px;
    color: #000000;
  }
  
  .product-image{
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
  
   
  .descrptions{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .product-price {
    font-size: 20px;
  }