.container_profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    margin: 50px;
}

.view_user_profile{
    border: none;
    box-shadow: 0 0 10px rgba(164, 153, 153, 0.5);
    border-radius: 5px;
    margin-right: 30%;
    margin-bottom: 50px;
}

.view_user_sales{
    border: 1px solid;
}

.view_my_details{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:  1px solid rgb(197, 197, 197);
}

.view_my_details img{
    height: 50px;
    color: #fff;
    background-color: black;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 90px;
}

h5{
    font-size: 15px;
    text-transform: capitalize;
    margin-right: 10px;
    font-weight: bolder;
}

.personal_info{
    display: flex;
    align-items: center;
    border: none;
    height: 50px;
    padding-left: 20px;
    border-bottom:  1px solid rgb(197, 197, 197);
}

.edit_profile{
    margin: 10px;

}

.edit_profile button{
    padding: 8px 15px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background-color: rgb(197, 194, 194);
    transition: background-color 0.3s;
}

.edit_profile button:hover{
    background-color: grey;
}