
body  {
  color: #060404 !important;
  font-family: Poppins, sans-serif !important;
}

.navbar{
  background-color: #f9faffea !important;
}


.navbar a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 20px;
  color: #060404;
  font-weight: 700px;
}




.modal-right {
  position: fixed;
  width: 400px;
  right: 0;
  left: -100%;
  overflow: auto;
  transition: all 5s ease;
  opacity: 1;
}

.modal-right .modal-content {
  position: fixed;
  width: 400px;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
}

.modal-right .modal.show {
  left: 0;
  transition: all 5s;
  opacity: 1;
}

.modal-right .modal-dialog {
  margin-left: auto;
  transition: all 5s ease;
}
