:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.home_page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  color: black;
  min-height: 100vh;
}

/* h1 {
  font-size: 3rem;
  margin-top: 100px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
} */

.navbar_homepage{
  position: fixed;
  top: 0;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: #006400;
  
}

.navbar_homepage li{
  position: relative;
  padding:5px 40px; 
  list-style: none;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

.cart_item{
  position: absolute;
  background-color: #ebbb1c;
  font-size: 0.75rem; 
  width: 1.25rem; 
  height: 1.25rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 1s infinite;
  top: -0.25rem;
  right: 0.4rem; 
  border-radius: 9999px; 
  color: #ffffff;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
}

.navbar_homepage a{
  text-decoration: none;  
  color: black;
}

.unordered_list_nav{
  position: relative;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 300px;
}

button.remove-from-cart {
  background-color: #f44336;
  margin-top: 20px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button.remove-from-cart:hover {
  background-color: #d32f2f;
}


.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 24px;
  margin: 0;
}

.product-price {
  font-size: 20px;
}

.add-to-cart {
  margin-top: 20px;
  background-color: #008cdd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #0072b6;
}

.cart {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.cart__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart__list {
  border-radius: 10px;
  list-style: none;
  padding: 30px;
  margin: 0;
  max-width: 350px;
}

.cart__item {
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.cart__item__name {
  flex: 1;
  margin-right: 10px;
}

.cart__item__quantity {
  margin-right: 10px;
}

.cart__item__price {
  font-weight: bold;
  margin-right: 20px;
}

.remove_one_cart{
  background-color: #C4B5FD;
  border-radius: 100%;
  cursor: pointer;
  padding: 0.75rem;
  margin-right: 0.75rem;
  transition-property: transform;
  transition-duration: 300ms;
}

.remove_one_cart:hover{
  background-color: #A78BFA;
}

.empty_cart_navigate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty_cart_navigate button{
  font-weight: bold;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 4px;
  border: none;
}

.cart__total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cart__checkout-button {
  background-color: #008000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart__checkout-button:hover {
  background-color: #006400;
}
