
body  {
  color: #060404 !important;
  font-family: proxima-nova,Corbel,Arial,sans-serif !important;
}

.navbar{
  background-color: #f9faffea !important;
}


.navbar a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  text-transform: capitalize;
  margin-right: 20px;
  color: #000;
}

.hover-effect {
  transition: all 0.3s ease-out;
}

.hover-effect:hover {
  transform: scale(1.01);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.modal-right {
  position: fixed;
  width: 400px;
  right: 0;
  left: -100%;
  overflow: auto;
  transition: all 5s ease;
  opacity: 1;
}

.modal-right .modal-content {
  position: fixed;
  width: 400px;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
}

.modal-right .modal.show {
  left: 0;
  transition: all 5s;
  opacity: 1;
}

.modal-right .modal-dialog {
  margin-left: auto;
  transition: all 5s ease;
}
