
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
  }
  